<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
  <title>お見積り情報入力</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" th:href="@{http://fonts.googleapis.com/css?family=Exo:900}"
        href="http://fonts.googleapis.com/css?family=Exo:900"/>
  <link rel="stylesheet" th:href="@{/css/main.css}" href="../static/css/main.css">
</head>

<body>
<nav th:insert="header.html :: header"></nav>
<div class="container">
  <form th:action="@{/submit}" th:object="${userOrderForm}" class="form-horizontal" method="post">
    <div class="progress-icon">
      <img src="../img/progress_input.svg" />
    </div>
    <div class="page-title">
      お見積り情報入力
    </div>
    <ul th:if="${#fields.hasErrors('all')}">
      <li th:each="err : ${#fields.errors('all')}" th:text="${err}"></li>
    </ul>
    <div class="col-sm-12">
      <fieldset>
        <div class="sub-title"><font size="5">お客様情報</font></div>
        <div class="form-group">
          <label for="customerName"><font size="4" color="black">氏名</font></label>
          <input type="text" required="required" id="customerName" name="customerName" th:field="*{customerName}" class="form-control" value="山田太郎"/>
          <p><font size="3" color="gray">&nbsp;&nbsp;&nbsp;例：引越太郎<br></font></p>
        </div>
        <div class="form-group">
          <label for="tel"><font size="4" color="black">連絡先TEL</font></label>
          <input type="tel" required="required" id="tel" name="tel" th:field="*{tel}" class="form-control" pattern="[\d]*" value="03-1234-5678"/>
          <p><font size="3" color="gray">&nbsp;&nbsp;&nbsp;半角入力&nbsp;&nbsp;&nbsp;ハイフンは入力しないでください&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;例：0901234567<br></font></p>
        </div>
        <div class="form-group">
          <label for="email"><font size="4" color="black">連絡先メールアドレス</font></label>
          <!--<input type="text" required="required" id="email" name="email" th:field="*{email}" class="form-control" value="test@test.com"/>
          -->
          <input type="email" required="required" id="email" name="email" th:field="*{email}" class="form-control" value="test@test.com"/>
          <p><font size="3" color="gray">&nbsp;&nbsp;&nbsp;例：tiscon@moving.com<br></font></p>
        </div>
        <div class="sub-title"><font size="5" color="black">集荷元・お届け先・日時</font></div>
        <div class="form-group">
          <label for="oldPrefectureId"><font size="4" color="black">集荷元住所（都道府県）</font></label>
          <select id="oldPrefectureId" name="oldPrefectureId" class="form-control" required="required">
            <option th:each="prefecture : ${prefectures}" th:value="${prefecture.prefectureId}" th:field="*{oldPrefectureId}">[[${prefecture.prefectureName}]]</option>
          </select>
          <p><font size="3" color="gray">&nbsp;&nbsp;&nbsp;タブから選択してください<br></font></p>
        </div>
        <div class="form-group">
          <label for="oldAddress"><font size="4" color="black">集荷元住所（市区町村以下）</font></label>
          <input type="text" required="required" id="oldAddress" name="oldAddress" th:field="*{oldAddress}"
                 class="form-control" value="新宿区西新宿1-1-1"/>
          <p><font size="3" color="gray">&nbsp;&nbsp;&nbsp;例：名古屋市北区1-1-1<br></font></p>
        </div>
        <div class="form-group">
          <label for="newPrefectureId"><font size="4" color="black">お届け先住所（都道府県）</font></label>
          <select id="newPrefectureId" name="newPrefectureId" class="form-control" required="required" >
            <option th:each="prefecture : ${prefectures}" th:value="${prefecture.prefectureId}" th:field="*{newPrefectureId}">[[${prefecture.prefectureName}]]</option>
          </select>
          <p><font size="3" color="gray">&nbsp;&nbsp;&nbsp;タブから選択してください<br></font></p>
        </div>
        <div class="form-group">
          <label for="newAddress"><font size="4" color="black">お届け先住所（市区町村以下）</font></label>
          <input type="text" required="required" id="newAddress" name="newAddress" th:field="*{newAddress}" class="form-control"
                 value="札幌市南区1"/>
          <p><font size="3" color="gray">&nbsp;&nbsp;&nbsp;例：豊田市1-1-1<br></font></p>
        </div>
        <div class="form-group">
          <label for="month"><font size="4" color="black">お引越し希望月</font></label>
          <input type="text" required="required" id="month" name="month" pattern="[\d]*" th:field="*{month}" class="form-control" value="10" min="1" max="12"/>
          <p><font size="3" color="gray">&nbsp;&nbsp;&nbsp;半角数字で入力してください&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;例：5<br></font></p>
        </div>
      </fieldset>
      <fieldset>
        <div class="sub-title"><font size="5" color="black">お荷物情報</font></div>
        <div class="form-group">
          <label for="box"><font size="4" color="black">段ボールの個数</font></label>
          <input type="text" required="required" id="box" name="box" pattern="[\d]*" th:field="*{box}" class="form-control" value="10"/>
          <p><font size="3" color="gray">&nbsp;&nbsp;&nbsp;半角数字、0個でも入力してください&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;例：5<br></font></p>
        </div>
        <div class="form-group">
          <label for="bed"><font size="4" color="black">ベッドの個数</font></label>
          <input type="text" required="required" id="bed" name="bed" pattern="[\d]*" th:field="*{bed}" class="form-control" value="3"/>
          <p><font size="3" color="gray">&nbsp;&nbsp;&nbsp;半角数字、0個でも入力してください&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;例：3<br></font></p>

        </div>
        <div class="form-group">
          <label for="bicycle"><font size="4" color="black">自転車の個数</font></label>
          <input type="text" required="required" id="bicycle" name="bicycle" pattern="[\d]*" th:field="*{bicycle}" class="form-control" value="1"/>
          <p><font size="3" color="gray">&nbsp;&nbsp;&nbsp;半角数字、0個でも入力してください&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;例：1<br></font></p>

        </div>
        <div class="form-group">
          <label for="washingMachine"><font size="4" color="black">洗濯機の個数</font></label>
          <input type="text" required="required" id="washingMachine" name="washingMachine" pattern="[\d]*" th:field="*{washingMachine}" class="form-control"
                 value="1"/>
          <p><font size="3" color="gray">&nbsp;&nbsp;&nbsp;半角数字、0個でも入力してください&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;例：1<br></font></p>

        </div>
        <div class="form-group">
          <label for="washingMachineInstallation"><font size="4" color="black">洗濯機の設置工事申し込み</font></label>
          <select id="washingMachineInstallation" required="required" name="washingMachineInstallation" class="form-control" th:field="*{washingMachineInstallation}">
            <option th:value="false" th:text="なし">なし</option>
            <option th:value="true" th:text="あり">あり</option>
          </select>
          <p><font size="3" color="gray">&nbsp;&nbsp;&nbsp;タブから選択してください<br></font></p>
        </div>
      </fieldset>
      <div class="form-group">
        <div class="text-center">
          <button type="submit" name="backToTop" class="btn-back">TOPへ戻る</button>
          <button type="submit" name="confirm" class="btn btn-primary">ご入力内容の確認へ</button>
        </div>
      </div>
    </div>
  </form>
</div>
<script src="../js/jquery-3.5.1.min.js" th:src="@{/js/jquery-3.5.1.min.js}"></script>
<script src="../js/popper.min.js" th:src="@{/js/popper.min.js}"></script>
<script src="../js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
</body>

</html>